/* -------header-----*/
*{
  margin: 0;
}
.logo{
  margin: 1rem 0 1rem 1rem;
  height: 5rem;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.cart-logo{
  width: 40px;
  margin: 0 15px 0 40px;
  transition: transform 0.3s ease;
}
.cart-logo:hover {
  transform: scale(1.1);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.right-header{
  display: flex;
  align-items: center;
}

.search-bar{
  display: flex;
  align-items: center;
  margin-left: 20px;

}
.search-area{
  width: 25rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 25px;
  font-size: large;
}
button{
  background-color: red;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}
.header-nav{
  display: flex;
  align-items: center;
  font-size: 20px;
  list-style: none;
}
.header-nav a{
  margin-right: 10px;
  text-decoration: none;
}


/* ------BODY------------------------------------------- */

.card-container{
  border: 1px solid black;
  margin: 10px;
  width: 16rem;
  height: 20rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #FFCCCB;


}
.card-container img{
  width: 100%;

}
#restaurant-name{
  align-content: center;
}


.restaurant-info{
  display: flex;
  justify-content: space-between;

}
