img{
  width: 40px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px red;
}
.header nav ul{
  display: flex;
  justify-content: end;
}
li{
  padding-right: 10px;
  list-style: none;
}
